* {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: Raleway;
}

body,
.btn {
    font-family: Open Sans;
}

/* START nav*/
.nav-main {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav-main-logo {
    padding-left: 10px;
}

.nav-main ul {
    list-style: none;
}

.nav-container {
    padding: 10px;
}

.nav-container ul {
    display: flex;
}

.nav-container i {
    color: white;
    padding: 0 10px;
}

@media (min-width: 480px) {}

@media (min-width:812px) {
    .nav-main {
        left: 50%;
        width: 50%;
        padding: 10px 0;
    }

    .nav-main-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-container i {
        color: black;
        padding: 0 10px;
    }

    .img {
        height: 25px;
    }
}

/* START header */
.header-main {
    height: 96vh;
    background-image: url(../images/bg-intro.svg);
    background-repeat: no-repeat;
}

.header-main-img {
    margin: 0 auto;
    display: block;
    width: 63%;
    padding-top: 35%;
}

@media (min-width: 480px) {
    .header-main {
        height: 100vh;
        background-size: cover;
    }

    .header-main-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45%;
        padding-top: 15px;
    }
}

@media (min-width:640px) {
    .header-main {
        height: 100vh;
        background-image: none;
        background: linear-gradient(45deg, #bbb8fa, #070439);
    }

    .header-main-img {
        width: 35%;
    }
}

@media (min-width:812px) {
    .wrapper {
        display: flex;
    }

    .header-main {
        flex-basis: 50%;
        position: relative;
        height: 100vh;
    }

    .header-main-img {
        width: 67%;
        padding-top: 0;
    }

    i:hover {
        color: rgb(5, 214, 155);
    }
}

/* START section-one */
.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 0 30px;
}

.section-one h1 {
    margin-bottom: 18px;
}

.section-one p {
    margin-bottom: 25px;
    color: #808080;
}

.section-one input,
button {
    align-self: flex-start;
    margin-bottom: 15px;
}

.section-one h2 {
    align-self: flex-start;
    margin-bottom: 19px;
    font-size: 18px;
}

input {
    padding: 5px;
    font-size: 24px;
    border: 1px solid gray;
    border-radius: 5px;
}

.btn {
    padding: 12px 46px;
    background-color: rgb(5, 214, 155);
    color: white;
    border: 1px solid rgb(5, 214, 155);
    border-radius: 5px;
}

.section-one-policy {
    margin-top: 20px;
    align-self: flex-end;
    font-size: 12px;
    text-decoration: underline;
}

@media (min-width:812px) {
    .wrapper-second {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
    }

    input {
        border: none;
        box-shadow: 4px 4px 4px grey;
    }

    .btn:hover {
        background-color: white;
        color: rgb(5, 214, 155);
        border: 1px solid rgb(5, 214, 155);
        cursor: pointer;
    }
}

/* START footer */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}